.current{
    color:#333;
}
.logo1{
    margin-left:67%;
}
.logo{
    margin-left:60px;
}
.navbar {
    background-color: rgb(223, 223, 185);
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav { 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.barnav{
    height: 100%;
    background-color: rgb(235, 183, 110);
    position: fixed;
    width: 80px;
    left: 0;
    top: 0;
}


.nat { 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Pop {
    margin-left: 9%;
    margin-top: 120px;
    font-size: 170%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.Pop3 {
    margin-left: 9%;
    margin-top: 40px;
    font-size: 170%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.Pop2 {
    margin-top: 132px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: #333;
    color: #333;
}
a{
    color:#333
}
.Pop4 {
    margin-top: 53px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#card-container-pop,
#card-container-nya {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    padding-left: 100px;
    padding-right: 20px;
    margin-top: 20px;
}

.card {
    max-width: 200px;
    border: 2px solid #333;
    padding: 10px;
    background: rgb(192, 167, 137);
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;   
    height:100%;
    display: flex;
    flex-direction: column;
    margin-top:5px;
}

.image-box {
    width: 100%;
    height: 120px;
    border: 2px solid #333;
    margin-bottom: 10px;
}

.bild {
    width: 100%;
    height: 100%;
}

.text {
    font-size: 14px;
    min-height: 90px;
    height: 90px;
    overflow: hidden;
}
.text p strong {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text p:last-child {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

body {
    background-color: rgb(242, 226, 186);
}
.cart-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    

    width: 40px;
    height: 30px;

    background-color: #28a745;
    color: white;

    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.cart-btn:hover {
    transform: scale(1.1);
}